# Remove nod_modules for Project-SharedWallet
/Project-SharedWallet/node_modules

# Remove nod_modules for Project-SupplyChain
/Project-SupplyChain/node_modules

# Remove nod_modules for Project-TokenSale
/Project-TokenSale/node_modules
/Project-TokenSale/.env
